<center><h1> Create dummy data </h1></center>

## Which data do we need?
    1. Table events:
    event_id | event_name | event_address | event_start_date | event_end_date | event_start_time | event_end_time
    
    2. Table users:
    user_prename | user_name | user_email | user_alias | user_password | user_id
    
    3. Table pickups:
    pickup_cities | pickup_zip_code
    
    4. Table journey:
    event_address | pickup_zip_code | user_id | journey_id | journey_empty_spaces | journey_car | event_id | journey_text | journey_date | event_date | journey_start_time | event_start_time

In [1]:
# --------------- creds --------------- 
import uuid # random unique IDs
import pandas as pd # Dataframes
from faker import Faker # create random data
from random import randint # random numbers for creation of test data
import datetime as dt # use datetime objects

In [2]:
# --------------- table events ---------------
table_events = pd.DataFrame({
    "event_id" : ["2ab60824-b539-4a1f-ae1a-f7d94d2d55bb",
                 "7be626b0-c1cd-4a26-a111-60afb13ba940",
                 "eff7e9ae-9c58-42e1-8835-0d51c33dc480",
                 "e6930b99-e8ca-49f8-9583-89f54366dc14"],
    "event_name" : ["Eintracht Frankfurt vs. Bayern München",
                   "Santiano",
                   "Twenty2X",
                   "World Club Dome"],
    "event_address" : ["Mörfelder Landstraße 362, 60528 Frankfurt am Main", # this format is not good!
                      "Ludwig-Erhard-Anlage 1, 60327 Frankfurt am Main",
                      "Messegelände, 30521 Hannover",
                      "Mörfelder Landstraße 362, 60528 Frankfurt am Main"],
    "event_start_date" : ["2019-11-02",
                         "2020-10-28",
                         "2020-03-12",
                         "2020-06-05"],
    "event_end_date" : ["2019-11-02",
                       "2020-10-28",
                       "2020-03-19",
                       "2020-06-07"],
    "event_start_time" : ["15:30:00",
                         "18:00:00",
                         "12:00:00",
                         "20:00:00"],
    "event_end_time" : ["18:00:00",
                       "20:00:00",
                       "20:00:00",
                       "18:00:00"]
})
table_events["event_start_date"] = pd.to_datetime(table_events["event_start_date"], yearfirst=True)
table_events["event_end_date"] = pd.to_datetime(table_events["event_end_date"], yearfirst=True)
table_events.to_csv("table_events.csv", index=False)
table_events

,event_id,event_name,event_address,event_start_date,event_end_date,event_start_time,event_end_time
0,2ab60824-b539-4a1f-ae1a-f7d94d2d55bb,Eintracht Frankfurt vs. Bayern München,"Mörfelder Landstraße 362, 60528 Frankfurt am Main",2019-11-02,2019-11-02,15:30:00,18:00:00
1,7be626b0-c1cd-4a26-a111-60afb13ba940,Santiano,"Ludwig-Erhard-Anlage 1, 60327 Frankfurt am Main",2020-10-28,2020-10-28,18:00:00,20:00:00
2,eff7e9ae-9c58-42e1-8835-0d51c33dc480,Twenty2X,"Messegelände, 30521 Hannover",2020-03-12,2020-03-19,12:00:00,20:00:00
3,e6930b99-e8ca-49f8-9583-89f54366dc14,World Club Dome,"Mörfelder Landstraße 362, 60528 Frankfurt am Main",2020-06-05,2020-06-07,20:00:00,18:00:00

In [3]:
# --------------- table users ---------------
table_user = []
faker = Faker(["de_DE"])

for i in range(1, 101):
    table_user.append({
        "user_id": uuid.uuid4(),
        "user_prename" : faker.first_name(),
        "user_name" : faker.last_name(),
        "user_email" : faker.email(),
        "user_alias" : faker.user_name(),
        "user_password" : faker.password()
        })

table_user = pd.DataFrame(table_user)
table_user = table_user[["user_id", "user_prename", "user_name", "user_email", "user_alias", "user_password"]]
table_user.to_csv("table_user.csv", index=False)
table_user

,user_id,user_prename,user_name,user_email,user_alias,user_password
0,b2ab3158-d322-4fcc-94fe-d6b4821b89db,Janett,Karz,heinz-willi06@gmail.com,luise79,Xk1i1^Ml)w
1,1673ebdd-9d63-49c6-b9cd-14cf683dae11,Waltrud,Ring,hoelzenbechertadeusz@gmx.de,anthonyeimer,e*o0ZBZj$Y
2,302d493b-1e11-4c24-9d70-31aca3c7cb1d,Kathleen,Adolph,veitreinhardt@gmail.com,nadin33,b+N4DUy1bs
3,65f9e465-ab72-471b-bea1-d589e0883706,Vitali,Kruschwitz,ndrubin@henschel.de,striebitzsevim,LmB6OZgVO&
4,bc35f434-866b-4d65-92d0-517ca472685e,Heini,Lindner,josephinestriebitz@googlemail.com,jpruschke,_25^YTruHl
...,...,...,...,...,...,...
95,f0932d68-a071-4b5e-a5da-a26bf5c14295,Athanasios,Pechel,vlinke@gmx.de,luitgardmetz,V)48%UNqM8
96,754a49e2-de82-4872-a160-f49d4b1f50b9,Hülya,Mentzel,ebertkreszenz@gmail.com,lindauottmar,@tUx^nQ@@3
97,bdec5189-4302-4174-9666-f5eab20ed3e6,Therese,Hauffer,zpreiss@biggen.net,melissa85,2d0t8P2w6$
98,024d1026-3dbd-4bc9-9d96-7a66ffde6f64,Lidia,Hering,steffenkreusel@gmail.com,eckard24,@DPdaB4^y5
99,0bb5388c-435b-49a2-96c8-188d1aaca4a0,Fredo,Schlosser,uschlosser@web.de,guntherkaester,Tw1@3MU19+

In [4]:
# --------------- table_pickups ---------------
table_pickups = pd.read_csv("D:/TechTalents/project-tt-app/server/German-Zip-Codes.csv", sep = ";")
table_pickups = table_pickups[["Ort", "Plz"]]
table_pickups = table_pickups.rename(columns={"Ort" : "pickup_city", "Plz": "pickup_zip_code"})
table_pickups = table_pickups.dropna()
table_pickups["pickup_zip_code"] = table_pickups["pickup_zip_code"].astype(int)
table_pickups.to_csv("table_pickups.csv", index=False)
table_pickups

         pickup_city  pickup_zip_code
0               Aach            54298
1               Aach            78267
2             Aachen            52062
3             Aachen            52064
4             Aachen            52066
...              ...              ...
19669    Zwingenberg            69439
19670  Zwischendeich            19322
19671        Zwochau             4509
19672        Zwönitz             8297
19673          Zwota             8267

[19670 rows x 2 columns]

In [5]:
# --------------- table_journey ---------------
table_journey = []
car_manufactures = ["Abarth","Alfa Romeo","Aston Martin","Audi","Bentley","BMW","Bugatti","Cadillac","Chevrolet","Chrysler",
                    "Citroën","Dacia","Daewoo","Daihatsu","Dodge","Donkervoort","DS","Ferrari","Fiat","Fisker","Ford",
                    "Honda","Hummer","Hyundai","Infiniti","Iveco","Jaguar","Jeep","Kia","KTM","Lada","Lamborghini",
                    "Lancia","Land Rover","Landwind","Lexus","Lotus","Maserati","Maybach","Mazda","McLaren","Mercedes-Benz",
                    "MG","Mini","Mitsubishi","Morgan","Nissan","Opel","Peugeot","Porsche","Renault","Rolls-Royce","Rover",
                    "Saab","Seat","Skoda","Smart","SsangYong","Subaru","Suzuki","Tesla","Toyota","Volkswagen","Volvo"]
for i in range(1, 301):
    x = randint(0, len(table_events)-1)
    y = randint(0, len(table_pickups)-1)
    z = randint(0, len(table_user)-1)
    a = randint(0, len(car_manufactures)-1)
    table_journey.append({
        "event_address" : table_events["event_address"][x],
        "event_id" : table_events["event_id"][x],
        "event_start_date" : table_events["event_start_date"][x],
        "event_start_time" : table_events["event_start_time"][x],
        "pickup_zip_code" : table_pickups["pickup_zip_code"][y],
        "user_id": table_user["user_id"][z],
        "journey_id": uuid.uuid4(),
        "journey_empty_spaces": randint(1, 5),
        "journey_car": car_manufactures[a],
        "journey_text": faker.text(),
        "journey_date": table_events["event_start_date"][x],
        "journey_start_time": faker.time()
    })
table_journey = pd.DataFrame(table_journey)
table_journey.to_csv("table_journey.csv", index=False)
table_journey

,event_address,event_id,event_start_date,event_start_time,pickup_zip_code,user_id,journey_id,journey_empty_spaces,journey_car,journey_text,journey_date,journey_start_time
0,"Mörfelder Landstraße 362, 60528 Frankfurt am Main",2ab60824-b539-4a1f-ae1a-f7d94d2d55bb,2019-11-02,15:30:00,55569,6ad99dc8-7117-42b0-8ea2-3547d37a318e,54dff384-21bf-4c17-863e-239cc730a16b,5,Nissan,Veniam possimus omnis sint. Repellat debitis a...,2019-11-02,16:00:19
1,"Ludwig-Erhard-Anlage 1, 60327 Frankfurt am Main",7be626b0-c1cd-4a26-a111-60afb13ba940,2020-10-28,18:00:00,88090,bb473665-380c-4757-86db-52dd8d66b494,a5432da1-78ce-4164-b796-c9a03e76f82a,2,Lexus,Sapiente est placeat explicabo quaerat alias c...,2020-10-28,09:16:11
2,"Mörfelder Landstraße 362, 60528 Frankfurt am Main",2ab60824-b539-4a1f-ae1a-f7d94d2d55bb,2019-11-02,15:30:00,54673,4e72153e-8b45-41ec-b022-656789f29f81,d2f0869b-fc47-465d-98bc-f515fc7baac8,3,Subaru,Velit porro natus. Quam voluptates nihil volup...,2019-11-02,10:48:56
3,"Ludwig-Erhard-Anlage 1, 60327 Frankfurt am Main",7be626b0-c1cd-4a26-a111-60afb13ba940,2020-10-28,18:00:00,39646,a0270b07-e0bb-4fd8-99f3-efdb8366a123,4be7476c-85b1-427f-b31e-173080d17b08,2,Subaru,Dolorum voluptate aliquam nostrum optio minus ...,2020-10-28,23:15:59
4,"Mörfelder Landstraße 362, 60528 Frankfurt am Main",2ab60824-b539-4a1f-ae1a-f7d94d2d55bb,2019-11-02,15:30:00,3058,bdec5189-4302-4174-9666-f5eab20ed3e6,80930d2f-5381-4adc-b870-ac4f4ed888b6,2,Lotus,Explicabo quibusdam quas blanditiis vero adipi...,2019-11-02,14:10:19
...,...,...,...,...,...,...,...,...,...,...,...,...
295,"Messegelände, 30521 Hannover",eff7e9ae-9c58-42e1-8835-0d51c33dc480,2020-03-12,12:00:00,18249,6c535309-788f-4e3a-975e-55b50e14b349,cc03b6b2-d336-4229-af4b-fe73fbb2d7da,5,Rolls-Royce,Sint saepe delectus eligendi vitae officiis. V...,2020-03-12,09:59:21
296,"Mörfelder Landstraße 362, 60528 Frankfurt am Main",2ab60824-b539-4a1f-ae1a-f7d94d2d55bb,2019-11-02,15:30:00,34477,1121108a-e16f-46b5-89d3-4d10eafb50ec,2286c25a-1135-45c0-8c57-82806474332e,1,McLaren,Vitae aliquid vel quasi.\nAut saepe ullam qui ...,2019-11-02,22:05:18
297,"Mörfelder Landstraße 362, 60528 Frankfurt am Main",2ab60824-b539-4a1f-ae1a-f7d94d2d55bb,2019-11-02,15:30:00,17039,3e8b846f-60e6-48cf-96e7-8f9bd499efaa,ebff14a6-98f1-49a0-8c4e-de7566c09b36,1,Renault,Iusto praesentium error tempore corrupti facil...,2019-11-02,18:08:17
298,"Messegelände, 30521 Hannover",eff7e9ae-9c58-42e1-8835-0d51c33dc480,2020-03-12,12:00:00,23881,378106b9-71f2-462f-93e9-214af904d9b6,51e063bb-9ccf-4cad-9614-e4f66715c929,1,Morgan,Autem et ratione voluptatum itaque ut sint por...,2020-03-12,08:15:12
299,"Ludwig-Erhard-Anlage 1, 60327 Frankfurt am Main",7be626b0-c1cd-4a26-a111-60afb13ba940,2020-10-28,18:00:00,18276,81e229ac-b432-41bf-93be-259839cd2c91,1a3edccf-a430-4404-82e8-da83cf5ce0cb,2,Suzuki,Saepe corrupti sunt sed. Laboriosam pariatur s...,2020-10-28,06:34:20