<center><h1> Create dummy data </h1></center>

## Which data do we need?
    1. Table events:
    event_id | event_name | event_address | event_start_date | event_end_date | event_start_time | event_end_time
    
    2. Table users:
    user_prename | user_name | user_email | user_alias | user_password | ticket_id | user_id | event_id
    
    3. Table pickups:
    pickup_cities | pickup_zip_code
    
    4. Table journey:
    event_address | pickup_zip_code | user_id | journey_id | journey_empty_spaces | journey_car | event_id | journey_text | journey_date | event_date | journey_start_time | event_start_time
    
    5. Table reservation:
    journey_id | reservation_requested_seats | journey_empty_spaces | reservation_text | user_id | journey_user_id

In [1]:
# --------------- creds --------------- 
import uuid # random unique IDs
import pandas as pd # Dataframes
from faker import Faker # create random data
from random import randint # random numbers for creation of test data
import sys
DATA_PATH = sys.path[0].replace("notebooks", "base_data")

In [2]:
# --------------- table events ---------------
table_events = pd.DataFrame({
    "event_id" : ["2ab60824-b539-4a1f-ae1a-f7d94d2d55bb",
                 "7be626b0-c1cd-4a26-a111-60afb13ba940",
                 "eff7e9ae-9c58-42e1-8835-0d51c33dc480",
                 "e6930b99-e8ca-49f8-9583-89f54366dc14"],
    "event_name" : ["Time Warp",
                   "MAYDAY",
                   "Rock am Ring",
                   "World Club Dome"],
    "event_address" : ["Xaver-Fuhr-Straße 101, 68163 Mannheim", # this format is not good!
                      "Rheinlanddamm 200, 44139 Dortmund",
                      "Otto-Flimm-Straße, 53520 Nürburg",
                      "Mörfelder Landstraße 362, 60528 Frankfurt am Main"],
    "event_start_date" : ["2020-04-04",
                         "2020-04-30",
                         "2020-06-05",
                         "2020-06-05"],
    "event_end_date" : ["2020-04-05",
                       "2020-05-01",
                       "2020-06-07",
                       "2020-06-07"],
    "event_start_time" : ["19:00:00",
                         "17:00:00",
                         "12:00:00",
                         "20:00:00"],
    "event_end_time" : ["14:00:00",
                       "12:00:00",
                       "20:00:00",
                       "18:00:00"]
})
table_events.to_csv(DATA_PATH + "\\table_events.csv", index=False)
table_events

,event_id,event_name,event_address,event_start_date,event_end_date,event_start_time,event_end_time
0,2ab60824-b539-4a1f-ae1a-f7d94d2d55bb,Time Warp,"Xaver-Fuhr-Straße 101, 68163 Mannheim",2020-04-04,2020-04-05,19:00:00,14:00:00
1,7be626b0-c1cd-4a26-a111-60afb13ba940,MAYDAY,"Rheinlanddamm 200, 44139 Dortmund",2020-04-30,2020-05-01,17:00:00,12:00:00
2,eff7e9ae-9c58-42e1-8835-0d51c33dc480,Rock am Ring,"Otto-Flimm-Straße, 53520 Nürburg",2020-06-05,2020-06-07,12:00:00,20:00:00
3,e6930b99-e8ca-49f8-9583-89f54366dc14,World Club Dome,"Mörfelder Landstraße 362, 60528 Frankfurt am Main",2020-06-05,2020-06-07,20:00:00,18:00:00

In [3]:
# --------------- table users ---------------
table_user = []
faker = Faker(["de_DE"])

for i in range(1, 101):
    table_user.append({
        "user_id": uuid.uuid4(),
        "user_email" : faker.email(),
        "username" : faker.user_name(),
        "user_password" : faker.password()
        })
    
table_user = pd.DataFrame(table_user)
table_user = table_user[["user_id", "username", "user_email", "user_password"]]
table_user.loc[len(table_user)] = [str(uuid.uuid4())] + ["yannik"] + ["eventwaytest1234@googlemail.com"] + ["funktioniert noch nicht"]
table_user.to_csv(DATA_PATH + "\\table_user.csv", index=False)
table_user

,user_id,username,user_email,user_password
0,6ad91709-19a5-4c97-9a4d-9151862eddde,xeberhardt,maximilianjuettner@yahoo.de,swv6oC&iC&
1,e77d26ba-472b-44d4-9dc0-e660461a28a2,nschinke,geza49@gmx.de,5D%4Ui2mKJ
2,b66e4a54-1509-44a2-a52a-84450710780e,qthies,anitatrommler@dobes.de,MC7YZ5xTe@
3,9b1618d3-225a-4ae3-9984-e192bb5640dd,gjunken,hanny12@gmx.de,&Q7CVuj)h@
4,fae4fe41-3d63-4b32-8ea5-ca523fa8ea63,woldemar49,idietz@gmx.de,%*d7k9NOQd
...,...,...,...,...
96,60a3bcf6-1480-41e2-9c6f-eec7642a0f60,lhoffmann,alicianohlmans@googlemail.com,O&K0Ym@$#4
97,2050b9dc-7990-4304-a614-26192c3498f9,dbaehr,ringsemra@hotmail.de,)5wGl0eU(6
98,4f3c2411-05a3-428e-9f26-166106469564,junkcosimo,jolanta51@muehle.com,Z+_G43Gjm8
99,b88ab42a-3129-4916-9442-c310695c80d9,vheydrich,hneureuther@geisel.de,$tUQhi(Bu9
100,062a4cc0-8d3b-4618-aafc-787562f34e04,yannik,eventwaytest1234@googlemail.com,funktioniert noch nicht

In [4]:
# --------------- table_pickups ---------------
table_pickups = pd.read_csv("D:/TechTalents/project-tt-app/server/base_data/German-Zip-Codes.csv", sep = ";")
table_pickups = table_pickups[["Ort", "Plz"]]
table_pickups = table_pickups.rename(columns={"Ort" : "pickup_city", "Plz": "pickup_zip_code"})
table_pickups = table_pickups.dropna()
table_pickups["pickup_zip_code"] = table_pickups["pickup_zip_code"].astype(int)
table_pickups.to_csv(DATA_PATH + "\\table_pickups.csv", index=False)
table_pickups

         pickup_city  pickup_zip_code
0               Aach            54298
1               Aach            78267
2             Aachen            52062
3             Aachen            52064
4             Aachen            52066
...              ...              ...
19669    Zwingenberg            69439
19670  Zwischendeich            19322
19671        Zwochau             4509
19672        Zwönitz             8297
19673          Zwota             8267

[19670 rows x 2 columns]

In [7]:
# --------------- table_journey ---------------
table_journey = []
car_manufactures = ["Abarth","Alfa Romeo","Aston Martin","Audi","Bentley","BMW","Bugatti","Cadillac","Chevrolet","Chrysler",
                    "Citroën","Dacia","Daewoo","Daihatsu","Dodge","Donkervoort","DS","Ferrari","Fiat","Fisker","Ford",
                    "Honda","Hummer","Hyundai","Infiniti","Iveco","Jaguar","Jeep","Kia","KTM","Lada","Lamborghini",
                    "Lancia","Land Rover","Landwind","Lexus","Lotus","Maserati","Maybach","Mazda","McLaren","Mercedes-Benz",
                    "MG","Mini","Mitsubishi","Morgan","Nissan","Opel","Peugeot","Porsche","Renault","Rolls-Royce","Rover",
                    "Saab","Seat","Skoda","Smart","SsangYong","Subaru","Suzuki","Tesla","Toyota","Volkswagen","Volvo"]
for i in range(1, 301):
    x = randint(0, len(table_events)-1)
    y = randint(0, len(table_pickups)-1)
    z = randint(0, len(table_user)-1)
    a = randint(0, len(car_manufactures)-1)
    table_journey.append({
        "event_address" : table_events["event_address"][x],
        "event_id" : table_events["event_id"][x],
        "event_start_date" : table_events["event_start_date"][x],
        "event_start_time" : table_events["event_start_time"][x],
        "pickup_zip_code" : table_pickups["pickup_zip_code"][y],
        "user_id": table_user["user_id"][z],
        "journey_id": uuid.uuid4(),
        "journey_empty_spaces": randint(1, 5),
        "journey_car": car_manufactures[a],
        "journey_text": faker.text(),
        "journey_date": table_events["event_start_date"][x],
        "journey_start_time": faker.time()
    })
table_journey = pd.DataFrame(table_journey)
table_journey.to_csv(DATA_PATH + "\\table_journey.csv", index=False)
table_journey

,event_address,event_id,event_start_date,event_start_time,pickup_zip_code,user_id,journey_id,journey_empty_spaces,journey_car,journey_text,journey_date,journey_start_time
0,"Rheinlanddamm 200, 44139 Dortmund",7be626b0-c1cd-4a26-a111-60afb13ba940,2020-04-30,17:00:00,39175,5eeb15f3-d3f0-49e3-be8c-ed4779aa1b8f,2b714275-d040-4c8f-b422-2a64d4593df4,3,Chevrolet,Voluptatem doloremque consequuntur facere. Rer...,2020-04-30,16:19:59
1,"Otto-Flimm-Straße, 53520 Nürburg",eff7e9ae-9c58-42e1-8835-0d51c33dc480,2020-06-05,12:00:00,31707,05bd2767-62ae-4992-a1b9-b339b6e37a59,26385d10-21ef-4d7b-9f38-387b6602c18e,2,Infiniti,Voluptate ducimus aliquid quis. Dolorum est qu...,2020-06-05,00:07:33
2,"Xaver-Fuhr-Straße 101, 68163 Mannheim",2ab60824-b539-4a1f-ae1a-f7d94d2d55bb,2020-04-04,19:00:00,49356,26e23de3-b63f-4fa5-b1b8-841506960a64,a6d88ad3-f3ae-411d-a9ce-aee8c234643c,1,Infiniti,Asperiores debitis voluptates cupiditate commo...,2020-04-04,14:16:12
3,"Otto-Flimm-Straße, 53520 Nürburg",eff7e9ae-9c58-42e1-8835-0d51c33dc480,2020-06-05,12:00:00,2763,ff65592c-fd29-4d18-a1e2-f5398ab4192d,e04ac184-fd3f-4679-97b4-39972a77c72c,4,BMW,Rem aut voluptatum expedita voluptate saepe fu...,2020-06-05,03:43:28
4,"Xaver-Fuhr-Straße 101, 68163 Mannheim",2ab60824-b539-4a1f-ae1a-f7d94d2d55bb,2020-04-04,19:00:00,29568,ba516a17-7aff-4080-b0ab-5e6da78aa02b,731154d2-47f7-4355-a7ea-e4e6138dbc56,3,Volkswagen,Repudiandae maxime quaerat ipsam. Illum repell...,2020-04-04,06:13:12
...,...,...,...,...,...,...,...,...,...,...,...,...
295,"Otto-Flimm-Straße, 53520 Nürburg",eff7e9ae-9c58-42e1-8835-0d51c33dc480,2020-06-05,12:00:00,56727,ff65592c-fd29-4d18-a1e2-f5398ab4192d,273d9719-1b06-48f3-9eee-b29bb122c7b8,3,Lada,Quidem molestiae debitis quibusdam perferendis...,2020-06-05,08:08:40
296,"Mörfelder Landstraße 362, 60528 Frankfurt am Main",e6930b99-e8ca-49f8-9583-89f54366dc14,2020-06-05,20:00:00,97359,346096cc-b55b-4ad1-937e-349beaf98af0,f240debe-1670-4d7d-97fe-cb29d5ba8b89,5,Mitsubishi,Est ipsum aliquam quidem consequatur occaecati...,2020-06-05,18:46:46
297,"Xaver-Fuhr-Straße 101, 68163 Mannheim",2ab60824-b539-4a1f-ae1a-f7d94d2d55bb,2020-04-04,19:00:00,70619,1f8c5827-0431-4997-bfb7-0be678defd4d,f4ef1cf7-de89-498a-8d17-110fea6bcde3,2,Donkervoort,Eos culpa amet nemo velit officia. Vitae debit...,2020-04-04,06:14:32
298,"Rheinlanddamm 200, 44139 Dortmund",7be626b0-c1cd-4a26-a111-60afb13ba940,2020-04-30,17:00:00,24896,a2be6010-ae0d-49a2-8e53-6c05632bb149,9859a79f-922c-4764-86f9-1857ac6ec250,2,Suzuki,Nihil quaerat corporis alias molestiae volupta...,2020-04-30,19:36:40
299,"Rheinlanddamm 200, 44139 Dortmund",7be626b0-c1cd-4a26-a111-60afb13ba940,2020-04-30,17:00:00,87782,6f31e962-0976-4544-9a15-db4539d779b8,1e8ece37-10da-4422-a207-0b83e897b484,5,Aston Martin,Quidem atque eaque quas culpa.\nDignissimos re...,2020-04-30,12:47:47

In [9]:
# --------------- table reservation ---------------
table_reservation = []
for i in range(1, 101):
    x = randint(0, len(table_events)-1)
    table_reservation.append({
        "reservation_id": uuid.uuid4(),
        "journey_id" : table_journey["journey_id"][x],
        "reservation_requested_seats" : randint(1, 5),
        "journey_empty_spaces" : table_journey["journey_empty_spaces"][x],
        "reservation_text" : faker.text(),
        "user_id": table_user["user_id"][randint(0, len(table_user)-1)],
        "journey_user_id": table_journey["user_id"][x],
        "reservation_status": "pending"
    })
table_reservation = pd.DataFrame(table_reservation)
table_reservation = table_reservation[["reservation_id", "journey_id", "reservation_requested_seats",
                                       "journey_empty_spaces", "reservation_text",
                                       "user_id", "journey_user_id", "reservation_status"]]
table_reservation.to_csv(DATA_PATH + "\\table_reservation.csv", index=False)
table_reservation

,reservation_id,journey_id,reservation_requested_seats,journey_empty_spaces,reservation_text,user_id,journey_user_id,reservation_status
0,64d75069-8a14-4b78-87b8-e3c29ef7b2c5,26385d10-21ef-4d7b-9f38-387b6602c18e,3,2,Esse ducimus nam expedita aut quas laborum. Re...,5ded0e3b-8ef3-47a2-91f8-be61ca70b380,05bd2767-62ae-4992-a1b9-b339b6e37a59,pending
1,bbefbbf1-f58f-4837-83cf-78b39852bdfd,2b714275-d040-4c8f-b422-2a64d4593df4,3,3,Distinctio illo quidem. Repellendus doloremque...,d5065c36-571b-4cbe-a42b-ee1234c99e38,5eeb15f3-d3f0-49e3-be8c-ed4779aa1b8f,pending
2,3fe36556-abc7-43ce-8b63-342d8469ddd9,26385d10-21ef-4d7b-9f38-387b6602c18e,3,2,Molestiae magnam at earum alias non facere arc...,9a6aa9e6-e9c9-4f1e-b41d-73c486a592b2,05bd2767-62ae-4992-a1b9-b339b6e37a59,pending
3,a02e6b14-cec1-4c83-89f9-ac6f9c6db287,a6d88ad3-f3ae-411d-a9ce-aee8c234643c,3,1,Ea doloribus minus nisi eum. Voluptatem dolore...,6ad91709-19a5-4c97-9a4d-9151862eddde,26e23de3-b63f-4fa5-b1b8-841506960a64,pending
4,35df2032-6bfb-4d03-9a4d-a673c1ad8197,a6d88ad3-f3ae-411d-a9ce-aee8c234643c,4,1,Excepturi similique eligendi accusamus accusam...,3cd89c35-ef59-49f7-bcb8-922439b338af,26e23de3-b63f-4fa5-b1b8-841506960a64,pending
...,...,...,...,...,...,...,...,...
95,0dd113f1-3eae-47d7-acce-a574aebc34d3,26385d10-21ef-4d7b-9f38-387b6602c18e,2,2,Veniam enim quod assumenda quaerat quae vel. I...,26e23de3-b63f-4fa5-b1b8-841506960a64,05bd2767-62ae-4992-a1b9-b339b6e37a59,pending
96,5844b0ef-c649-4f61-9a72-cd95bd21e0d7,a6d88ad3-f3ae-411d-a9ce-aee8c234643c,1,1,Fuga voluptatem libero temporibus. Occaecati h...,8b314542-118f-4ffc-ae4b-bf6da186ecfb,26e23de3-b63f-4fa5-b1b8-841506960a64,pending
97,da644dc2-bd67-4526-860b-d9a009586925,2b714275-d040-4c8f-b422-2a64d4593df4,1,3,Temporibus minima non consequatur voluptates c...,bd136f1e-88d4-4d56-a3b2-8522257d9564,5eeb15f3-d3f0-49e3-be8c-ed4779aa1b8f,pending
98,cd23fa7c-713c-47a3-a940-77cc18607c10,2b714275-d040-4c8f-b422-2a64d4593df4,3,3,Nam enim incidunt nihil facere maiores. Facili...,9a6aa9e6-e9c9-4f1e-b41d-73c486a592b2,5eeb15f3-d3f0-49e3-be8c-ed4779aa1b8f,pending
99,6ff6d014-1332-4d44-9837-19405dc54b6c,e04ac184-fd3f-4679-97b4-39972a77c72c,4,4,Dolor sapiente sint cumque commodi. Error quas...,d76d4b5e-67e4-4a6e-8304-9a2c8e3a9fd0,ff65592c-fd29-4d18-a1e2-f5398ab4192d,pending