<center><h1> Create dummy data </h1></center>

## Which data do we need?
    1. Table events:
    event_id | event_name | event_address | event_start_date | event_end_date | event_start_time | event_end_time
    
    2. Table users:
    user_prename | user_name | user_email | user_alias | user_password | ticket_id | user_id | event_id
    
    3. Table pickups:
    pickup_cities | pickup_zip_code
    
    4. Table journey:
    event_address | pickup_zip_code | user_id | journey_id | journey_empty_spaces | journey_car | event_id | journey_text | journey_date | event_date | journey_start_time | event_start_time
    
    5. Table reservation:
    journey_id | reservation_requested_seats | journey_empty_spaces | reservation_text | user_id | journey_user_id

In [1]:
# --------------- creds --------------- 
import uuid # random unique IDs
import pandas as pd # Dataframes
from faker import Faker # create random data
from random import randint # random numbers for creation of test data
import sys
DATA_PATH = sys.path[0].replace("notebooks", "base_data")

In [2]:
# --------------- table events ---------------
table_events = pd.DataFrame({
    "event_id" : ["2ab60824-b539-4a1f-ae1a-f7d94d2d55bb",
                 "7be626b0-c1cd-4a26-a111-60afb13ba940",
                 "eff7e9ae-9c58-42e1-8835-0d51c33dc480",
                 "e6930b99-e8ca-49f8-9583-89f54366dc14"],
    "event_name" : ["Time Warp",
                   "MAYDAY",
                   "Rock am Ring",
                   "World Club Dome"],
    "event_address" : ["Xaver-Fuhr-Straße 101, 68163 Mannheim", # this format is not good!
                      "Rheinlanddamm 200, 44139 Dortmund",
                      "Otto-Flimm-Straße, 53520 Nürburg",
                      "Mörfelder Landstraße 362, 60528 Frankfurt am Main"],
    "event_start_date" : ["2020-04-04",
                         "2020-04-30",
                         "2020-06-05",
                         "2020-06-05"],
    "event_end_date" : ["2020-04-05",
                       "2020-05-01",
                       "2020-06-07",
                       "2020-06-07"],
    "event_start_time" : ["19:00:00",
                         "17:00:00",
                         "12:00:00",
                         "20:00:00"],
    "event_end_time" : ["14:00:00",
                       "12:00:00",
                       "20:00:00",
                       "18:00:00"]
})
table_events.to_csv(DATA_PATH + "\\table_events.csv", index=False)
table_events

,event_id,event_name,event_address,event_start_date,event_end_date,event_start_time,event_end_time
0,2ab60824-b539-4a1f-ae1a-f7d94d2d55bb,Time Warp,"Xaver-Fuhr-Straße 101, 68163 Mannheim",2020-04-04,2020-04-05,19:00:00,14:00:00
1,7be626b0-c1cd-4a26-a111-60afb13ba940,MAYDAY,"Rheinlanddamm 200, 44139 Dortmund",2020-04-30,2020-05-01,17:00:00,12:00:00
2,eff7e9ae-9c58-42e1-8835-0d51c33dc480,Rock am Ring,"Otto-Flimm-Straße, 53520 Nürburg",2020-06-05,2020-06-07,12:00:00,20:00:00
3,e6930b99-e8ca-49f8-9583-89f54366dc14,World Club Dome,"Mörfelder Landstraße 362, 60528 Frankfurt am Main",2020-06-05,2020-06-07,20:00:00,18:00:00

In [3]:
# --------------- table users ---------------
table_user = []
faker = Faker(["de_DE"])

for i in range(1, 101):
    table_user.append({
        "user_id": uuid.uuid4(),
        "user_email" : faker.email(),
        "username" : faker.user_name(),
        "user_password" : faker.password()
        })
    
table_user = pd.DataFrame(table_user)
table_user = table_user[["user_id", "username", "user_email", "user_password"]]
table_user.loc[len(table_user)] = [str(uuid.uuid4())] + ["yannik"] + ["eventwaytest1234@googlemail.com"] + ["funktioniert noch nicht"]
table_user.to_csv(DATA_PATH + "\\table_user.csv", index=False)
table_user

,user_id,username,user_email,user_password
0,6ad91709-19a5-4c97-9a4d-9151862eddde,xeberhardt,maximilianjuettner@yahoo.de,swv6oC&iC&
1,e77d26ba-472b-44d4-9dc0-e660461a28a2,nschinke,geza49@gmx.de,5D%4Ui2mKJ
2,b66e4a54-1509-44a2-a52a-84450710780e,qthies,anitatrommler@dobes.de,MC7YZ5xTe@
3,9b1618d3-225a-4ae3-9984-e192bb5640dd,gjunken,hanny12@gmx.de,&Q7CVuj)h@
4,fae4fe41-3d63-4b32-8ea5-ca523fa8ea63,woldemar49,idietz@gmx.de,%*d7k9NOQd
...,...,...,...,...
96,60a3bcf6-1480-41e2-9c6f-eec7642a0f60,lhoffmann,alicianohlmans@googlemail.com,O&K0Ym@$#4
97,2050b9dc-7990-4304-a614-26192c3498f9,dbaehr,ringsemra@hotmail.de,)5wGl0eU(6
98,4f3c2411-05a3-428e-9f26-166106469564,junkcosimo,jolanta51@muehle.com,Z+_G43Gjm8
99,b88ab42a-3129-4916-9442-c310695c80d9,vheydrich,hneureuther@geisel.de,$tUQhi(Bu9
100,062a4cc0-8d3b-4618-aafc-787562f34e04,yannik,eventwaytest1234@googlemail.com,funktioniert noch nicht

In [4]:
# --------------- table_pickups ---------------
table_pickups = pd.read_csv("D:/TechTalents/project-tt-app/server/base_data/German-Zip-Codes.csv", sep = ";")
table_pickups = table_pickups[["Ort", "Plz"]]
table_pickups = table_pickups.rename(columns={"Ort" : "pickup_city", "Plz": "pickup_zip_code"})
table_pickups = table_pickups.dropna()
table_pickups["pickup_zip_code"] = table_pickups["pickup_zip_code"].astype(int)
table_pickups.to_csv(DATA_PATH + "\\table_pickups.csv", index=False)
table_pickups

         pickup_city  pickup_zip_code
0               Aach            54298
1               Aach            78267
2             Aachen            52062
3             Aachen            52064
4             Aachen            52066
...              ...              ...
19669    Zwingenberg            69439
19670  Zwischendeich            19322
19671        Zwochau             4509
19672        Zwönitz             8297
19673          Zwota             8267

[19670 rows x 2 columns]

In [5]:
# --------------- table_journey ---------------
table_journey = []
car_manufactures = ["Abarth","Alfa Romeo","Aston Martin","Audi","Bentley","BMW","Bugatti","Cadillac","Chevrolet","Chrysler",
                    "Citroën","Dacia","Daewoo","Daihatsu","Dodge","Donkervoort","DS","Ferrari","Fiat","Fisker","Ford",
                    "Honda","Hummer","Hyundai","Infiniti","Iveco","Jaguar","Jeep","Kia","KTM","Lada","Lamborghini",
                    "Lancia","Land Rover","Landwind","Lexus","Lotus","Maserati","Maybach","Mazda","McLaren","Mercedes-Benz",
                    "MG","Mini","Mitsubishi","Morgan","Nissan","Opel","Peugeot","Porsche","Renault","Rolls-Royce","Rover",
                    "Saab","Seat","Skoda","Smart","SsangYong","Subaru","Suzuki","Tesla","Toyota","Volkswagen","Volvo"]
for i in range(1, 301):
    x = randint(0, len(table_events)-1)
    y = randint(0, len(table_pickups)-1)
    z = randint(0, len(table_user)-1)
    a = randint(0, len(car_manufactures)-1)
    table_journey.append({
        "event_address" : table_events["event_address"][x],
        "event_id" : table_events["event_id"][x],
        "event_start_date" : table_events["event_start_date"][x],
        "event_start_time" : table_events["event_start_time"][x],
        "pickup_zip_code" : table_pickups["pickup_zip_code"][y],
        "user_id": table_user["user_id"][z],
        "journey_id": uuid.uuid4(),
        "journey_empty_spaces": randint(1, 5),
        "journey_car": car_manufactures[a],
        "journey_text": faker.text(),
        "journey_date": table_events["event_start_date"][x],
        "journey_start_time": faker.time()
    })
table_journey = pd.DataFrame(table_journey)
table_journey.to_csv(DATA_PATH + "\\table_journey.csv", index=False)
table_journey

,event_address,event_id,event_start_date,event_start_time,pickup_zip_code,user_id,journey_id,journey_empty_spaces,journey_car,journey_text,journey_date,journey_start_time
0,"Otto-Flimm-Straße, 53520 Nürburg",eff7e9ae-9c58-42e1-8835-0d51c33dc480,2020-06-05,12:00:00,17252,ba516a17-7aff-4080-b0ab-5e6da78aa02b,199d078e-4afb-4556-844f-e2b27593c5e2,5,Suzuki,Adipisci illo consectetur excepturi aut quod. ...,2020-06-05,01:19:49
1,"Rheinlanddamm 200, 44139 Dortmund",7be626b0-c1cd-4a26-a111-60afb13ba940,2020-04-30,17:00:00,23936,58d96f87-c364-4582-8e54-76b099a96ccd,7870a3f9-4b3f-4b57-b93d-da0b5be87a43,1,Hummer,Quis consequatur iste dignissimos expedita cum...,2020-04-30,04:11:45
2,"Mörfelder Landstraße 362, 60528 Frankfurt am Main",e6930b99-e8ca-49f8-9583-89f54366dc14,2020-06-05,20:00:00,74597,9b70d827-b5eb-4f1a-a22a-bfebe58a5b64,8b18113d-9dc3-4fde-b17b-4f7dc8c7e56f,4,Seat,Eligendi labore totam voluptatum eum ipsa. Mol...,2020-06-05,08:32:47
3,"Mörfelder Landstraße 362, 60528 Frankfurt am Main",e6930b99-e8ca-49f8-9583-89f54366dc14,2020-06-05,20:00:00,37434,60a3bcf6-1480-41e2-9c6f-eec7642a0f60,596a49a7-766d-4166-aebd-9d2551443543,5,Lamborghini,Atque provident natus dolorum quia. Atque illo...,2020-06-05,07:37:32
4,"Xaver-Fuhr-Straße 101, 68163 Mannheim",2ab60824-b539-4a1f-ae1a-f7d94d2d55bb,2020-04-04,19:00:00,32429,5441b3a8-4a17-458a-bd6a-ec677d3d803b,de0dd6b0-b627-41d1-8a6f-eec46338e99c,3,Mitsubishi,Repellat mollitia odit deserunt minus perspici...,2020-04-04,06:03:12
...,...,...,...,...,...,...,...,...,...,...,...,...
295,"Otto-Flimm-Straße, 53520 Nürburg",eff7e9ae-9c58-42e1-8835-0d51c33dc480,2020-06-05,12:00:00,93109,26e23de3-b63f-4fa5-b1b8-841506960a64,78d9f4b9-3073-42b7-b6c7-408b7ab565ed,3,Jaguar,Eligendi temporibus beatae minima culpa volupt...,2020-06-05,14:48:31
296,"Otto-Flimm-Straße, 53520 Nürburg",eff7e9ae-9c58-42e1-8835-0d51c33dc480,2020-06-05,12:00:00,14828,5eeb15f3-d3f0-49e3-be8c-ed4779aa1b8f,930173c9-8ca4-4c38-95ed-a6410d88792f,1,Kia,Id laborum repudiandae eos. Quia inventore nam...,2020-06-05,21:19:39
297,"Rheinlanddamm 200, 44139 Dortmund",7be626b0-c1cd-4a26-a111-60afb13ba940,2020-04-30,17:00:00,17166,678e476f-1b8e-49aa-9479-be2485b10631,21daccea-5c9b-4ff2-ba03-f8dc654bbc7c,1,Landwind,Aliquid numquam error tempore odit excepturi m...,2020-04-30,00:00:37
298,"Otto-Flimm-Straße, 53520 Nürburg",eff7e9ae-9c58-42e1-8835-0d51c33dc480,2020-06-05,12:00:00,22301,1f8c5827-0431-4997-bfb7-0be678defd4d,82496ced-0dae-41d7-9992-eec885b7ed67,3,Toyota,Sequi nostrum veritatis laudantium. Repellat s...,2020-06-05,00:13:14
299,"Mörfelder Landstraße 362, 60528 Frankfurt am Main",e6930b99-e8ca-49f8-9583-89f54366dc14,2020-06-05,20:00:00,18249,27eedc15-fd85-426c-a66f-310bcb7a982a,1404e538-2ab4-4ef8-8a68-fabf700612f6,4,Honda,Perferendis veniam aliquam exercitationem reic...,2020-06-05,05:27:39

In [6]:
# --------------- table reservation ---------------
table_reservation = []
for i in range(1, 401):
    x = randint(0, len(table_events)-1)
    table_reservation.append({
        "journey_id" : table_journey["journey_id"][x],
        "reservation_requested_seats" : randint(1, 5),
        "journey_empty_spaces" : table_journey["journey_empty_spaces"][x],
        "reservation_text" : faker.text(),
        "user_id": table_user["user_id"][randint(0, len(table_user)-1)],
        "journey_user_id": table_journey["user_id"][x]
    })
table_reservation = pd.DataFrame(table_reservation)
table_reservation = table_reservation[["journey_id", "reservation_requested_seats",
                                       "journey_empty_spaces", "reservation_text",
                                       "user_id", "journey_user_id"]]
table_reservation.to_csv(DATA_PATH + "\\table_reservation.csv", index=False)
table_reservation

,journey_id,reservation_requested_seats,journey_empty_spaces,reservation_text,user_id,journey_user_id
0,7870a3f9-4b3f-4b57-b93d-da0b5be87a43,1,1,Neque earum quibusdam impedit possimus. Ducimu...,2050b9dc-7990-4304-a614-26192c3498f9,58d96f87-c364-4582-8e54-76b099a96ccd
1,199d078e-4afb-4556-844f-e2b27593c5e2,4,5,Quidem excepturi vitae vitae natus distinctio ...,2f887a39-08f5-4829-b810-627c22b9d722,ba516a17-7aff-4080-b0ab-5e6da78aa02b
2,8b18113d-9dc3-4fde-b17b-4f7dc8c7e56f,5,4,Eaque minima nihil enim exercitationem nostrum...,27eedc15-fd85-426c-a66f-310bcb7a982a,9b70d827-b5eb-4f1a-a22a-bfebe58a5b64
3,596a49a7-766d-4166-aebd-9d2551443543,4,5,Perferendis nobis fugit amet ratione corporis ...,346096cc-b55b-4ad1-937e-349beaf98af0,60a3bcf6-1480-41e2-9c6f-eec7642a0f60
4,199d078e-4afb-4556-844f-e2b27593c5e2,5,5,Officia voluptas aperiam molestias distinctio....,ec0467f6-711f-4ab3-8ada-f4f136fd7db0,ba516a17-7aff-4080-b0ab-5e6da78aa02b
...,...,...,...,...,...,...
395,8b18113d-9dc3-4fde-b17b-4f7dc8c7e56f,1,4,Doloribus ducimus voluptatem. Qui quibusdam ex...,c9c73437-2299-4f90-9104-c078dd6f3cc4,9b70d827-b5eb-4f1a-a22a-bfebe58a5b64
396,8b18113d-9dc3-4fde-b17b-4f7dc8c7e56f,5,4,Eum dicta tenetur reprehenderit. Tenetur natus...,24c57f2e-222d-4885-be3d-5e1330953e56,9b70d827-b5eb-4f1a-a22a-bfebe58a5b64
397,8b18113d-9dc3-4fde-b17b-4f7dc8c7e56f,5,4,Ex labore ut accusamus architecto est. Sapient...,734a2fb2-f740-4d9f-945d-6360dd1ac6c6,9b70d827-b5eb-4f1a-a22a-bfebe58a5b64
398,199d078e-4afb-4556-844f-e2b27593c5e2,2,5,Quam doloribus corporis sit veritatis velit. D...,2050b9dc-7990-4304-a614-26192c3498f9,ba516a17-7aff-4080-b0ab-5e6da78aa02b
399,7870a3f9-4b3f-4b57-b93d-da0b5be87a43,2,1,Ullam dolore nulla numquam blanditiis quos rep...,9b70d827-b5eb-4f1a-a22a-bfebe58a5b64,58d96f87-c364-4582-8e54-76b099a96ccd